<%- include('partials/head') %>
  <h1>Dit zijn de datums en activiteiten voor <%= maand %></h1>
  <main>
    <h2> Klik op de gewenste datum om de details te horen</h2>
    <article>
      <a href="details">4 tot 10  <%= maand %>, activiteit is Tokyo.</a>
      <a href="details">16 tot 17  <%= maand %>, activiteit is Tandem.</a>
    </article>
  </main>

  <%- include('partials/footer') %>